{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<h1>Products</h1>
<a href= "{{ path ('home')}}"> Home </a>

<a href= "{{ path ('product_new')}}"> Create New Products </a>
<table>
    <thread>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </tr>
    </thread>
    <tbody>
        {% for product in products%}
            <tr>
                <td>
                    <a href="{{ path('product_show', {id: product.id}) }}">
                    {{ product.name }}
                    <a>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
             </tr>
        {% endfor %}        
    </tbody>
</table>
{% endblock %}
